body{
    margin: 0px;
}
header{
    display:flex;
    justify-content:space-evenly;
    background-color: rgb(35, 153, 153);
    width: 100%;
    padding-left: 8px;
    padding-top: 8px;
}
nav a{
    padding: 10px 15px;
    color: white;
    float:right; 
}
nav a:hover{
    background-color: grey;
}
.banner{
    padding-left: 8px;
    padding-top: 8px;
    float: left;
    color: white;
}